#forgot {
  text-align: center;

  .model {
    background-color: rgba(225, 225, 225, .3);
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;

    &>div {
      width: 3.36rem;
      background-color: #fff;
      min-height: 2.98rem;
      margin: 1.05rem auto 0;
      box-shadow: 0 .02rem .08rem .02rem #c8c8cc;
    }

    header {
      text-align: left;
      padding: 0 .18rem;
      border-bottom: 1px solid #c8c8cc;
      height: .55rem;
      line-height: .55rem;
    }

    h3 {
      width: 2.66rem;
      margin: .16rem auto 0;
    }

    p {
      width: 2.66rem;
    }

    .sec {
      color: #007aff;
      height: .6rem;
      line-height: .6rem;
    }
  }

  p {
    width: 2.5rem;
    color: #c8c8cc;
    margin: 0 auto .15rem;
  }

  button.conmmt-btn {
    display: block;
    width: 2.5rem;
    height: 0.41rem;
    border-radius: 0.41rem;
    margin: 0 auto;
    background-color: #fad87b;
    margin-top: 0.28rem;
    font-size: 0.15rem;
  }

  .common-inp {
    width: 2.5rem;
  }

  .logo {
    margin: 1.58rem auto .15rem;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    background-color: #d8d8d8;
  }
}